@charset "ISO-8859-1";
body {
  font-family: "Avenir Next";
 }


.header {
  background-color: #26d0c9;
   color: #fff00;
  height: 80px;
}

.header-logo {
	font-family:Algerian;
  	float: left;
  	font-size:36px;
  padding: 20px 40px;
}



.main {
 background: FFFAF0;
 color:#000000;
  height: 600px;
}
.copy-container h1 {
  font-size: 40px;
  float:left;
}
/*.copy-container p {
  font-size: 40px;
  color:000000;
}*/
.image{
	float:right;
	/*border:20px solid fff000*/
	
}
.image2{
	float:right;
	margin-bottom:0px
	/*border:20px solid 000000;*/
	
}

.copy-container h2 {
  font-size: 20px;
}


.footer {
  /* Change the background-color to #2f5167 */
  background-color: #2f5167;
  
  /* Change the color to #fff */
  color:#fff;
  
  /* Change the height to 120px */
  height: 90px;
  /* Change the padding for all sides to 40px */
  padding:40px;
  
}

/* Change footer-logo's font-size and float property */
.footer-logo{
  font-size:32px;
  float:left;
}

/* Change footer-list's float property */
.footer-list{
  float:left;
}

/* Add CSS for <li> tags within footer-list */
.footer-list li{
  padding-bottom:20px;
}
